.tabButton {
    background: white;
    border: none;
    margin: 0 10px;
    font-size: 20px;
}

.tabButton:hover {
    background: black;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.tabsButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.activeTab {
    background: black;
    color: white;
}